In [3]:
import pandas as pd

# Merger all years

In [ ]:
# Lista de arquivos CSV a serem combinados
anos = list(range(2014, 2025))  # De 2014 a 2024
arquivos = [f'weather_sum_{ano}.csv' for ano in anos]

In [ ]:
dataframes = []

# Iterar sobre cada arquivo e carregar em um DataFrame
for arquivo in arquivos:
    df = pd.read_csv(arquivo)
    dataframes.append(df)

# Combinar todos os DataFrames em um único DataFrame
df_combinado = pd.concat(dataframes, ignore_index=True)

# Exibir o DataFrame combinado
print(df_combinado)

In [ ]:
# Opcional: salvar o DataFrame combinado em um novo arquivo CSV
df_combinado.to_csv('weather_sum_combinado.csv', index=False)

In [ ]:
df_combinado.head()

# Merger Stations

In [4]:
# Carregar os dados das estações
stations_df = pd.read_csv('stations.csv')

In [5]:
stations_df.head()

,region,state,city_station,id_station,lat,lon,lvl,record_first,record_last
0,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332","1159,54",2000-05-07,2024-09-30
1,NE,BA,SALVADOR,A401,"-13,01666666","-38,51666666","51,41",2000-05-13,2024-09-30
2,N,AM,MANAUS,A101,"-3,10333333","-60,01638888","61,25",2000-05-09,2024-09-30
3,SE,RJ,ECOLOGIA AGRICOLA,A601,"-22,8","-43,68333333",33,2000-05-07,2024-09-30
4,S,RS,PORTO ALEGRE,A801,"-30,05","-51,16666666","46,97",2000-09-22,2024-09-30

In [6]:
stations_df['id_station'].nunique()

615

In [7]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        615 non-null    object
 1   state         615 non-null    object
 2   city_station  615 non-null    object
 3   id_station    615 non-null    object
 4   lat           615 non-null    object
 5   lon           615 non-null    object
 6   lvl           615 non-null    object
 7   record_first  615 non-null    object
 8   record_last   615 non-null    object
dtypes: object(9)
memory usage: 43.4+ KB

In [8]:
tempdf = pd.read_csv('weather_sum_combinado.csv')

In [9]:
tempdf.head()

,ESTACAO,DATA (YYYY-MM-DD),rain_max,rad_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg
0,A001,2014-01-01,0.0,3697.3,22.954167,29.2,18.3,98.0,39.0,6.9,1.558333
1,A001,2014-01-02,0.0,4042.5,23.633333,30.1,18.2,95.0,35.0,7.6,2.095833
2,A001,2014-01-03,0.0,4062.6,24.291667,29.7,17.4,96.0,24.0,7.9,2.000000
3,A001,2014-01-04,0.0,3969.0,24.608333,29.8,17.7,75.0,25.0,11.5,2.704167
4,A001,2014-01-05,0.0,4155.5,23.837500,29.3,16.7,79.0,26.0,9.0,2.566667

In [10]:
tempdf['ESTACAO'].nunique()

615

In [11]:
tempdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1858839 entries, 0 to 1858838
Data columns (total 11 columns):
 #   Column             Dtype
---  ------             -----
 0   ESTACAO            object
 1   DATA (YYYY-MM-DD)  object
 2   rain_max           float64
 3   rad_max            float64
 4   temp_avg           float64
 5   temp_max           float64
 6   temp_min           float64
 7   hum_max            float64
 8   hum_min            float64
 9   wind_max           float64
 10  wind_avg           float64
dtypes: float64(9), object(2)
memory usage: 156.0+ MB

In [12]:
# Selecionar apenas as colunas necessárias
stations_df = stations_df[['region', 'state', 'city_station', 'id_station', 'lat', 'lon']]

In [13]:
# Mesclar com o dataset principal com base no ID da estação
tempdf = pd.merge(tempdf, stations_df, left_on='ESTACAO', right_on='id_station', how='left')

# Verificar o resultado do merge
print(tempdf.head())

  ESTACAO DATA (YYYY-MM-DD)  rain_max  rad_max   temp_avg  temp_max  temp_min  \
0    A001        2014-01-01       0.0   3697.3  22.954167      29.2      18.3
1    A001        2014-01-02       0.0   4042.5  23.633333      30.1      18.2
2    A001        2014-01-03       0.0   4062.6  24.291667      29.7      17.4
3    A001        2014-01-04       0.0   3969.0  24.608333      29.8      17.7
4    A001        2014-01-05       0.0   4155.5  23.837500      29.3      16.7

   hum_max  hum_min  wind_max  wind_avg region state city_station id_station  \
0     98.0     39.0       6.9  1.558333     CO    DF     BRASILIA       A001
1     95.0     35.0       7.6  2.095833     CO    DF     BRASILIA       A001
2     96.0     24.0       7.9  2.000000     CO    DF     BRASILIA       A001
3     75.0     25.0      11.5  2.704167     CO    DF     BRASILIA       A001
4     79.0     26.0       9.0  2.566667     CO    DF     BRASILIA       A001

            lat           lon
0  -15,78944444  -47,92583332
1  -15,78944444  -47,92583332
2  -15,78944444  -47,92583332
3  -15,78944444  -47,92583332
4  -15,78944444  -47,92583332

In [14]:
# Verificar o resultado do merge
tempdf.head()

,ESTACAO,DATA (YYYY-MM-DD),rain_max,rad_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg,region,state,city_station,id_station,lat,lon
0,A001,2014-01-01,0.0,3697.3,22.954167,29.2,18.3,98.0,39.0,6.9,1.558333,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
1,A001,2014-01-02,0.0,4042.5,23.633333,30.1,18.2,95.0,35.0,7.6,2.095833,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
2,A001,2014-01-03,0.0,4062.6,24.291667,29.7,17.4,96.0,24.0,7.9,2.000000,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
3,A001,2014-01-04,0.0,3969.0,24.608333,29.8,17.7,75.0,25.0,11.5,2.704167,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
4,A001,2014-01-05,0.0,4155.5,23.837500,29.3,16.7,79.0,26.0,9.0,2.566667,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"

In [16]:
tempdf.to_csv('weather_data_2020_2024_wstations.csv')